@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .mask-radial-fade {
    mask-image: radial-gradient(circle, white 20%, transparent 70%);
    -webkit-mask-image: radial-gradient(circle, white 20%, transparent 70%);
  }
}